---
import Layout from "../layouts/Layout.astro";
import { db } from "../db";
import { usersTable } from "../db/schema";

const users = db.select().from(usersTable).all();
---

<Layout>
  <ul>
    {
      users.map((user) => (
        <li>
          <a href={`/users/${user.id}`}>
            <h2>{user.name}</h2>
            <p>{user.email}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
