<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics Drizzle</title>
  </head>
  <body>
    {
      Astro.locals.user ? (
        <p>Welcome, {Astro.locals.user.name}!</p>
        <button id="log-out">Log Out</button>
      ) : (
        <a href="/signin">Login</a>
      )
    }
    <script>
      import { authClient } from "../lib/auth-client";
      document.getElementById("log-out")?.addEventListener("click",()=>{
        authClient.signOut();
        document.location.reload();  
      })
    </script>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
